<div class="card">
  <div class="card-header">
    <%= render "thumbnail_name" %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur vero sed cumque, laborum suscipit laboriosam natus. Deleniti sapiente magnam voluptatum ex. Optio laborum ipsam pariatur veritatis, suscipit laudantium aliquam dolor nesciunt necessitatibus molestiae quia autem distinctio, adipisci praesentium provident, neque ut saepe porro? Labore perspiciatis quod nobis, eligendi atque odio officia iure, illum at alias dolores modi in architecto dolorum iusto quasi commodi. Pariatur nobis eaque suscipit sit quis esse obcaecati totam voluptas rerum inventore! Magnam voluptatem expedita facilis omnis quod minus, perspiciatis in qui aut mollitia fuga corporis obcaecati deleniti non quis eius quam? Veritatis praesentium ad dolorum non.  </li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
