<div class="d-flex">
    <div class="flex-shrink-0">
      <img src="https://via.placeholder.com/32x32" alt="Sample Image">
    </div>
    <div class="flex-grow-1 ms-2">
      mkzr
    </div>
  </div>
</li>
