<%# In order to render _form, I need to pass the instance variable @tweets.
 This view is dealt with via tweeets#index, which doesn't set the variable
 Is it a good idea to set @tweeet = Tweeet.new in the controller? %>

<section class="container mt-4">

  <div class="row justify-content-between">
    <div class="col-lg-2">
      <%= render 'profile' %>
    </div>
    <div class="col-lg-6">
      <%= render 'form', tweeet: @tweeet %>
      <%= render @tweeets %> <%# This is so cool%>
    </div>
    <div class="col-lg-2">
      <%= render 'who_to_follow' %>
    </div>
  </div>
</section>
