<div class="card mb-3">
  <div class="card-header">
    <%= render "thumbnail_name_long", post: post %>
  </div>
  <div class="card-body">
    <p><%= post.post %></p>
    <footer class="row justify-content-center">
      <%= render "icons", post: post %>
    </footer>
  </div>
</div>
