<% if user_signed_in? %>
  <div class="card mb-3">
    <div class="card-header">
      <%= render "thumbnail_name", user: current_user %>
    </div>
    <div class="card-body">
      <% if user_signed_in? %>
        <div><%= current_user.username %> : Optional user description TBA</div>
      <% end%>
    </div>
  </div>
<% else %>
<div class="card mb-3">
    <div class="card-header">
      <%= render "thumbnail_name", user: User.all.first %>
    </div>
    <div class="card-body">
      <div> Alternative content before signing in</div>
    </div>
</div>
<% end %>

